/*****************************************************************************

    BULLET LIST (PATTERN)

*****************************************************************************/
.bullet-list {
	> li {
		font-size: 1.6rem;
		list-style: disc;
		margin-left: 2rem;
		margin-top: 1rem;
	}
}