/*****************************************************************************

    FRAME

*****************************************************************************/
html, body, .eros-frame, .sidebar {
	height: 100%;
}

.eros-frame {
	align-items: flex-start;
	display: flex;
}