/*****************************************************************************

    LOGO (SIDEBAR)

*****************************************************************************/
.logo-block {
	background: $light-blue;
	height: 150px;
	position: relative;
}

.eros-logo {
	background: url("../img/eros-logo.png");
	height: 90px;
	width: 106px;
}