/*****************************************************************************

    VARIABLES

*****************************************************************************/

// Color
$light-blue: #63C4EF;
$light-grey: #fafafa;
$med-grey: #484848;
$light-red: #FF0034;
$dark-red: #C90022;
